<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аналитическая система мониторинга опасных зон</title>
    <link rel="stylesheet" href="static/home/style.css">
    <script src="static/home/script.js"></script>
    <link rel="stylesheet" href="/sko">
</head>
<body>
    <header>
        <h1>Аналитическая система для мониторинга опасных зон</h1>
    </header>
    <nav>
        <ul id="headers">
            <li><a href="/">Главная</a></li>
            <li class="submenu" id="skoMenu">
                <a href="">Северный Казахстан</a>
                <ul class="submenu-content" id="skoSubMenu">
                    <li><a href="/sko">Петропавловск</a></li>
                    <li><a href="/dang">Опасные зоны</a></li>
                </ul>
            </li>
            <li><a href="/kz">Данные по Казахстану</a></li>
        </ul>
    </nav>
    <main>
        <section id="home">
            <h2>Добро пожаловать!</h2>
            <p>Наша система предоставляет актуальную информацию об опасных зонах на основе метеорологических данных.</p>
        </section>
        <section id="features">
            <h2>Особенности</h2>
            <ul>
                <li>Реальное время мониторинга</li>
                <li>Прогнозирование опасных зон</li>
                <li>Подробные отчеты и аналитика</li>
            </ul>
        </section>
        <section id="data">
            <h2>Данные</h2>
            <p>Здесь будут отображаться карты и отчеты о текущих опасных зонах, температуре и многом другом.</p>
            <img src="static/photos/photo1.jpg" alt="Kazachstan" id="img_1">
            <img src="static/photos/photo2.jpg" alt="Petropavlovsk" id="img_2">
        </section>
    </main>
    <footer>
        <section id="contact">
            <h2>Контакты поддержки</h2>
            <p>Email: info@dangerzonesystem.com</p>
            <p>Телефон: +77056101182 / +77761229953</p>
        </section>
        <p>&copy; 2024 Аналитическая система мониторинга опасных зон by ITshechka</p>
    </footer>
</body>
</html>
