<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/sko/sko.css">
    <script src="static/sko/sko.js" defer></script>
    <title>Северный Казахстан - Метеоданные</title>
</head>
<body>
    <nav>
        <ul id="headers">
            <li><a href="/">Главная</a></li>
            <li class="submenu" id="skoMenu"><a href="">Северный Казахстан</a>
                <ul class="submenu-content" id="skoSubMenu">
                    <li><a href="/sko">Петропавловск</a></li>
                    <li><a href="/dang">Опасные зоны</a></li>
                </ul>
            </li>
            <li><a href="/kz">Данные по Казахстану</a></li>
        </ul>
    </nav>
    <header>
        <h1>Метеоданные по городу Петропавловску</h1>
    </header>
    <main>
        <section id="current-weather">
            <h2>Текущая погода</h2>
            <div id="weather-data">
                <!-- Здесь будут отображаться данные о текущей погоде -->
            </div>
        </section>
        <section id="forecast">
            <h2>Прогноз погоды</h2>
            <div id="forecast-data">
                <!-- Здесь будут отображаться данные о прогнозе погоды -->
            </div>
        </section>
    </main>
    <footer>
        <section id="contact">
            <h2>Контакты поддержки</h2>
            <p>Email: info@dangerzonesystem.com</p>
            <p>Телефон: +77056101182 / +77761229953</p>
        </section>
        <p>&copy; 2024 Аналитическая система мониторинга опасных зон by ITshechka</p>
    </footer>
</body>
</html>
